@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #F5F5F5;
}
html
{
    font-family: 'Courgette', cursive;
}

.section
{
    width: 100vw;
    background-color: red;
}

section h2
{
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
    letter-spacing: 5px;
    word-spacing: 0.1em;
    font-weight: 500;
}
section span
{
    display: block;
    margin: 0 auto;
    font-size: 25px;
    color: #CB2027;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: fit-content;
    padding-left: 10em;
    margin-bottom: 2em;
}
.card img
{
    display: block;
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.container
{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card
{
    background-color: white;
   border-radius: 20px;
    width: 350px;
    height: auto;
    
}

.card h3
{
    text-align: center;
    margin: 0.5em 0;
    font-size: 1.5em;
}
.card hr
{
    width: 90%;
    margin: 0 auto;
    border-color: red;
    margin-bottom: 1em;
}
.card p
{
    text-align: center;
    margin-top: 1em;
    font-weight: 500;
    font-size: 16px;
}
.continue
{
    position: relative;
    width: fit-content;
    margin: 30px auto;

}
.first

{
    top: 15px;
}
.card a
{
   text-decoration: none;
   color: black;
}