@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html{
    font: 14px/1.5 Open Sans, sans-serif;
}
body{
    background-color: #eee;
    
}
section{
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: grid;
    width: 800px;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    box-shadow: 14px 15px 4px -3px rgba(0,0,0,0.1);
}
.left-side{
    background: url(image/cover.jpg);
    background-color:grey;
    background-blend-mode:multiply;

    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position-x: -130px;    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 2em 4em;
}

.left-side p{
    font-weight: 700;
}

.left-side h1, h2{
    text-align: center;
    font-weight: 400;
 
}
.left-side h1{
    font-size: 2em;
}
.left-side h2{
    font-size: 1.3em;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.right-side{
    margin-left: 2em;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 2em 2em;
}
.right-side input,.right-side label, .right-side button{
    display: block;
    text-transform: uppercase;
}
.right-side label{
    font-size: 1.2em;
    color: lightgray;
}
.right-side input{
    border: 1px solid white;
    border-bottom: 1px grey solid;
    text-indent: 1em;
}
form>div{
    display: flex;
    justify-content:flexst;
    gap: 2em;
    align-items: center;
}
form>div button{
    border: none;
    background-color: black;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
}
form>div a{
    color: black;
}